@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 309 44% 95%;
    --foreground: 264 45% 15%;
    --card: 0 0% 100%;
    --card-foreground: 264 45% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 264 45% 15%;
    --primary: 312 78% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 264 30% 90%;
    --secondary-foreground: 264 85% 36%;
    --muted: 264 20% 92%;
    --muted-foreground: 264 20% 40%;
    --accent: 264 85% 36%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 264 20% 85%;
    --input: 264 20% 85%;
    --ring: 312 78% 49%;
    --chart-1: 312 78% 49%;
    --chart-2: 264 85% 36%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold tracking-tight;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}